.horizontal-steps {
  background-color: #fafbfc;
}
.active-container-horizontal-steps {
  background-color: white;
  /* padding: 5px; */
}
.active-item-horizontal-steps {
  background-color: #007bff;
  /* padding: 5px; */
}
