.title-horizontal-steps {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 7px;
}
.default-background-horizontal-steps {
  background-color: #fafbfc;
}
.active-item-horizontal-steps {
  background-color: #007bff;
}
.active-word-horizontal-steps {
  color: black;
}
